/* Your CSS Code here. */
#btn
{
    background: black;
    color: white;
    border: none;
    border-radius: 5px;
}

#btn:hover
{
    background: yellow;
    color: black;
    border: none;
    border-radius: 30px;
}